body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: rgb(182, 182, 182);
  color: white;
}

div {
  display: grid;
  justify-content: center;
}

form {
  display: grid;
  margin: 2%;
}

button {
  display: grid;
  border-radius: 5%;
  margin-bottom: 5%;
  margin-top: 5%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
